{
  "parser": "babel-eslint",
  "overrides": [
    {
      "files": [
        "**/*.ts",
        "**/*.tsx"
      ],
      "parser": "@typescript-eslint/parser",
      "plugins": [
        "@typescript-eslint/eslint-plugin"
      ],
      // If adding a typescript-eslint version of an existing ESLint rule,
      // make sure to disable the ESLint rule here.
      "rules": {
        "no-unused-vars": ["off"],
        "no-undef": ["off"]
      }
    }
  ],
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "extends": [
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "rules": {
    "import/extensions": [
      0,
      "never",
      {
        "ts": "never"
      }
    ],
    "prefer-promise-reject-errors": "off",
    "import/no-useless-path-segments": "off",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "import/prefer-default-export": "off",
    "jsdoc/valid-types": "off",
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "arrow-parens": [
      "off"
    ],
    "compat/compat": "error",
    "consistent-return": "off",
    "comma-dangle": "off",
    "generator-star-spacing": "off",
    "no-bitwise": [
      "error",
      {
        "allow": [
          "&=",
          "<<",
          "~"
        ]
      }
    ],
    "import/no-unresolved": "error",
    "import/no-extraneous-dependencies": "off",
    "no-loop-func": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-console": "off",
    "no-plusplus": [
      "off",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "no-param-reassign": "off",
    "no-use-before-define": "off",
    "no-underscore-dangle": "off",
    "no-multi-assign": "off",
    "promise/param-names": "error",
    "promise/always-return": "off",
    "lines-between-class-members": [
      "error",
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ],
    "promise/catch-or-return": "error",
    "promise/no-native": "off",
    "react/sort-comp": [
      "error",
      {
        "order": [
          "type-annotations",
          "static-methods",
          "everything-else",
          "lifecycle",
          "render"
        ]
      }
    ],
    "react/jsx-no-bind": "off",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".js",
          ".jsx",
          ".tsx"
        ]
      }
    ],
    "no-case-declarations": "off",
    "react/prefer-stateless-function": "off",
    "jsdoc/check-examples": "off",
    "jsdoc/check-types": "error",
    "jsdoc/no-undefined-types": "error",
    "jsdoc/require-description": "error",
    "jsdoc/require-example": "off",
    "jsdoc/require-param-type": "error",
    "jsdoc/require-returns": "off",
    "jsdoc/require-returns-check": "error",
    "jsdoc/require-returns-type": "error",
    // general validation
    "jsdoc/check-tag-names": "error",
    // description validation
    "jsdoc/newline-after-description": [
      "error",
      "always"
    ],
    "jsdoc/require-description-complete-sentence": "error",
    // @param tag validation
    "jsdoc/require-param": "error",
    "jsdoc/check-param-names": "error",
    "jsdoc/require-param-name": "error",
    "jsdoc/require-hyphen-before-param-description": "error",
    "jsdoc/require-param-description": "error",
    // @return tag validation
    "jsdoc/require-returns-description": "error"
  },
  "plugins": [
    "import",
//    "eslint-plugin",
    "@typescript-eslint/eslint-plugin",
    "promise",
    "compat",
    "react",
    "jest",
    "jsdoc"
  ],
  "settings": {
    "polyfills": [
      "Promise"
    ],
    "import/resolver": {
      "node": {
        "eslint-import-resolver-typescript": true,
        "extensions": [
          ".js",
          ".ts",
          ".tsx",
          ".node"
        ]
      }
    }
  }
}
