.app-wrapper {
    background: #ffffff;
}

.app-wrapper > h1 {
    text-align: center;
    text-transform: uppercase;
    color: #341b79;
    font-size: 2.5rem;
}

.app > h6 {
    text-align: left;
    color: #373737;
    font-weight: normal;
    margin-left: 4rem;
    margin-top: 0;
    margin-bottom: 5rem;
    font-size: 0.8rem;
}
